._margin-bt-50 {
  margin-bottom: 50px;
  margin-top: 50px;
}

._margin-b-20 {
  margin-bottom: 20px;
}

._margin-t-20 {
  margin-top: 20px;
}

._margin-t-40 {
  margin-top: 40px;
}

._margin-t-50 {
  margin-top: 50px;
}

._center {
  text-align: center;
}