@import './../../styles/settings/_colors';
@import './../../styles/tools/_mixins';

.sections {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  width: 100%;

  &:not(.-intern) {
    padding-left: 20px;
    padding-right: 20px;
  }
}