@import './../../styles/settings/colors';
@import './../../styles/tools/mixins';

.action-button {
  border: 2px solid $white;
  color: $white;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  
  @include transition(all, .5s);
  
  &:not(.-active) {
    padding: 10px;

    @include border-radius(20px);
    
    &:hover {
      background-color: $white;
      color: $dark-blue;
      opacity: 1;
    }
  }

  &.-active {
    background-color: $white;
    color: $dark-blue;
    padding: 20px;

    @include box-shadow(5px, 5px, 0, 0, rgba(0, 0, 0, .25));
    @include border-radius(30px);

    &:hover {
      opacity: .85;
    }
  }
}